body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    margin: 0;
    padding: 20px;
}
h1 {
    color: darkblue;
    text-align: center;
}
form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"], input[type="number"], input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}
input[type="submit"] {  
    background-color: darkblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: navy;
}
button {
    background-color: darkblue;
    color: rgb(211, 25, 25);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}