body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background: gold;
    color: green;
    padding: 20px 20px;
    text-align: center;
    font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 15px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
}
nav a:hover {
    text-decoration: underline;
    background-color: purple;
}
.hero {
    background-image: url("../images/image6.png");
    color: purple;
    text-align: center;
    padding: 100px 20px;
    background-size: cover;
    background-position: center;
}
.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: plum;
}
.hero a {
    display: inline-block;
    background: #109a35;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
section {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px purple;
}
#about {
    background-color: lightgrey;
    text-align: justify;
    font-size: 1.2em;
}
main{
    width:90%;
    margin:30px auto;
}
#allservices {
   display: flex;
   gap: 15px;
   flex-direction: row;
}
.service {
    flex: 1 1 250px;
    border: 1px solid grey;
    background-color: lightgrey;
    border-radius: 5px;
    text-align: center;
}
.service img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}
h2 {
    color: purple;
    text-align: center;
}
form {
    box-shadow: 0px 2px 5px purple;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
}
form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid khaki;
    border-radius: 5px;
}
form textarea {
    height: 100px;
}
form button{
    background-color: purple;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: gold;
    font-weight: bold;
}
footer {
    background-color: gold;
    color: #109a35;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}